.welcome-ctrl

   h1.page-header Best Bank Ever!
   p.main-text 
      span Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
      a(href="javascript:void(0)" tooltip="Tooltip Example") Cras pellentesque. 
      span Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ornare non diam in porttitor. Mauris in ultricies eros, eget ultricies ante. Donec eu turpis vel augue ultricies efficitur. Lorem ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
   
   h4 Reasons We're Awesome:
   ul
      li Lorem ipsum dolor sit amet
      li Cras pellentesque vel metus
      li Proin et suscipit sem
      li Lorem ipsum dolor sit amet
      li Cras pellentesque vel metus

   .well 
      img(src="images/phone.png")
      h4 Amazing Mobile Info
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras pellentesque vel metus ac fringilla. Proin et suscipit sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ornare non diam in porttitor. Mauris in ultricies eros, eget ultricies ante. Donec eu turpis vel augue ultricies efficitur. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae
