.news-ctrl
   .btn.btn-block.btn-primary(ng-click="launchLoginModal();") 
      i.fa.fa-lock  
      span  Login

   tabset
      tab(heading="News")
         .well
            a(href="javascript:void(0)") Lorem ipsum dolor
            p Cras pellentesque vel metus ac fringilla. Proin et suscipit sem. Lorem ipsum dolor sit amet.

            a(href="javascript:void(0)") Lorem ipsum dolor
            p Cras pellentesque vel metus ac fringilla. Proin et suscipit sem. Lorem ipsum dolor sit amet.

            a(href="javascript:void(0)") Lorem ipsum dolor
            p Cras pellentesque vel metus ac fringilla. Proin et suscipit sem. Lorem ipsum dolor sit amet.


      tab(heading="Archive")
         .well
            a(href="javascript:void(0)") Lorem ipsum dolor
            p Cras pellentesque vel metus ac fringilla. Proin et suscipit sem. Lorem ipsum dolor sit amet.

            a(href="javascript:void(0)") Lorem ipsum dolor
            p Cras pellentesque vel metus ac fringilla. Proin et suscipit sem. Lorem ipsum dolor sit amet.
